In [1]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [2]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [3]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [4]:
new_tuple[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [5]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [6]:
c = list(b)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [7]:
c = list(c)

In [8]:
print(c)

['Mumbai', 18.9949521]

In [11]:
c = tuple(c)

In [12]:
c = list(c)

In [13]:
print(c)

['Mumbai', 18.9949521]

In [15]:
b = [10,20,50]

In [16]:
c.append(b)

In [17]:
print(c)

['Mumbai', 18.9949521, [10, 20, 50]]

In [18]:
c = tuple(c)

In [19]:
print(c)

('Mumbai', 18.9949521, [10, 20, 50])

In [21]:
b.append(10)

In [22]:
print(c)

('Mumbai', 18.9949521, [10, 20, 50, 10])